{% extends "layout.html" %}

{% block content %}
<!-- ADMIN PAGE -->
<form>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="Name" class="form-control" id="Name" placeholder="Joe Smith">
  </div>
  <div class="form-group">
    <label for="Gender">Gender</label>
    <select class="Gender" id="Gender">
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Treatment"> Treatment </label>
    <select multiple class="form-control" id="Treatment">
      <option>X-Ray</option>
      <option>Blood Work</option>
      <option>Check in</option>
      <option>ER</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Age Group">Age Group</label>
    <select multiple class="form-control" id="Age Group">
      <option>0-4</option>
      <option>5-15</option>
      <option>15+</option>
    </select>
  </div>
  <textarea rows="4" cols="50">
  Enter text here!
  </textarea>
<!--  todo temporarily placed for the functionality can be moved for actual story creation page-->
  <form action = "/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
  <a href = "/login" class="btn btn-primary"> Login </a>
  <button type="button" class="btn btn-primary"> Create Story </button>
</form>

{% endblock content %}