{% extends "layout.html" %}

{% block content %}
<!-- ADMIN PAGE -->
<form>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="Name" class="form-control" id="Name" placeholder="Joe Smith">
  </div>
  <div class="form-group">
    <label for="Gender">Gender</label>
    <select class="form-control" id="Gender">
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Treatment"> Treatment </label>
    <select multiple class="form-control" id="Treatment">
      <option>X-Ray</option>
      <option>Blood Work</option>
      <option>Check in</option>
      <option>ER</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Age Group">Age Group</label>
    <select multiple class="form-control" id="Age Group">
      <option>0-4</option>
      <option>5-15</option>
      <option>15+</option>
    </select>
  </div>
  <div class="form-group">
    <label for="story">Narrative</label>
    <textarea class="form-control" id="story" rows="4">I walked down the long hallway and Mom spoke with the lady behind the desk.
    </textarea>
  </div>
<!--  todo temporarily placed for the functionality can be moved for actual story creation page-->

  <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" class="form-control"/>
         <!--TODO: Is the input of this supposed to be submit, cant this be submitted at the same
         time as the form? also form inside of a form-->
         <input type = "submit" class="form-control"/>
  </form>
  <br>
  <button type="submit" class="btn btn-primary"> Create Story </button>
  <a href="/" class="btn btn-success">Return to Home</a>
</form>

{% endblock content %}