{% extends "layout.html" %}

{% block content %}
<!-- ADMIN PAGE -->
<form>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="Name" class="form-control" id="Name" placeholder="Joe Smith">
  </div>
  <div class="form-group">
    <label for="Gender">Gender</label>
    <select class="form-control" id="Gender">
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Treatment"> Treatment </label>
    <select multiple class="form-control" id="Treatment">
      <option>X-Ray</option>
      <option>Blood Work</option>
      <option>Check in</option>
      <option>ER</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Age Group">Age Group</label>
    <select multiple class="form-control" id="Age Group">
      <option>0-4</option>
      <option>5-15</option>
      <option>15+</option>
    </select>
  </div>

<!-- possible future page modification -->
  <h1>Narrative</h1>
<span class="form-group">
  <button class="btn btn-success">Add text block</button>
  <button class="btn btn-success">Add part of speech</button>
  <button class="btn btn success">Insert Image</button>
</span>
  <br>

  <div class="form-group">
    <textarea class="form-control" id="story0" rows="4">Having blood drawn means that a nurse will take a little bit of blood from
    </textarea>

  </div>

  <div class="form-group">
    <input type="speech" class="form-control" id="ptspeech0" placeholder="Patient's Name">
  </div>

  <div class="form-group">
    <textarea class="form-control" id="story0" rows="4">'s arm. Whenever blood is drawn, there are steps that people follow. This story will show you all the steps of having blood drawn.
    </textarea>
  </div>

  <img src="/static/sophie.png" alt="Sophie and her Mom"/> <!--style="width:186px;height:53px;"-->
  <br>
  <br>
  <button type="submit" class="btn btn-primary"> Create Story </button>
  <a href="/" class="btn btn-success">Return to Home</a>
</form>

{% endblock content %}