{% extends "layout.html" %}

{% block content %}
<form action="{{ url_for('query_story') }}" method="post">
    <input type="text" name="Name">
    <select name="Age Group">
      <option>0-4</option>
      <option>5-12</option>
      <option>12-15</option>
      <option>16+</option>
    </select>
    <select name="Gender">
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
    <select name="Treatment">
      <option>X-Ray</option>
      <option>Check-in</option>
      <option>Blood Work</option>
      <option>Whatever else..</option>
    </select>
    <input type="submit">

</form>

{% endblock content %}