{% extends "layout.html" %}

{% block content %}
	<title> Social Stories </title>
	<div class="container">
	  <h2> Nemours Center for Autism - Social Stories App </h2>
	  <div class="panel panel-default"/>
	    <div class="panel-body"> <b>Welcome to Nemours Social Stories</b><br>
			Where guardians are able to select stories to use before hospital visits and Staff/Faculty are able to create stories to ensure a great experience for children
			Here are some things you can do with Social stories: <br>
		<ul>
			<li>Choose stories based on type (x-ray, check-up, blood work, etc.)</li>
			<li>Sort stores based on patient's age range</li>
			<li>Selecting story based on gender of the patient</li>
			<li>Specialized stories for guardian attending the appointment (mom, dad, aunt, grandparents)</li>
		</ul>
			<b>If you are Staff/Faculty please login to create stories</b>
		</div>
  	</div>


    <a href = "/find" class="btn btn-primary">Find Stories </a>
	<a href = "/login" class="btn btn-primary"> Login </a>
	<!-- <a href = "/read" class="btn btn-primary">Read Stories </a> -->


{% endblock content %}