<!DOCTYPE html>
<!-- This file is shared across all the HTML PAGES! -->
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="/css/splash.css" rel="stylesheet" />
	<title> Social Stories </title>
	<style>
		body {
			font-family: 'Arial';
		}
		.fa-btn {
			margin-right: 6px;
		}
	</style>
</head>
	<body style="background: linear-gradient(to right, #A7BFE8, #6190E8)">
		<br>
		<br>
		<div class = "container">
			<div class="panel panel-default">
				<div class="panel-header">
					<h3>
						<img src="/static/nemourslogo.jpg" alt="nemourslogo"/>
						<font color="#01A3FD">Social Stories</font><br>
					</h3>
				</div>
            	<div class="panel-body">
					{% block content %}
					{% endblock content %}
				</div>
			</div>
		</div>

	</body>
</html>